<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title i18n="page title">Timetables</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label i18n class="bold">Name</ion-label>
      <ion-label i18n class="bold">Route</ion-label>
      <ion-label i18n class="bold">Date</ion-label>
      <ion-label i18n class="bold">State</ion-label>
      <ion-label i18n class="bold ion-text-end"># Services</ion-label>
    </ion-item>
    <ion-item-sliding>
      <ion-item *ngFor="let timetable of timetables">
        <ion-label>{{ timetable.name }}</ion-label>
        <ion-label>{{ timetable.route }}</ion-label>
        <ion-label>{{ timetable.date }}</ion-label>
        <ion-label>{{ timetable.state }}</ion-label>
        <ion-label class="ion-text-end">{{ timetable.numberOfServices }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" i18n>
          <ion-icon slot="start" [ios]="'trash-outline'" [md]="'trash-sharp'"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button i18n-aria-label aria-label="Add timetable">
      <ion-icon [ios]="'add-outline'" [md]="'add-sharp'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer></ion-footer>
