<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="menu-list">
          <ion-list-header i18n>Timetable</ion-list-header>
          <ion-note *ngIf="isLoggedIn$ | async">{{ username$ | async }}</ion-note>

          <ng-container *ngIf="isLoggedIn$ | async; else loggedOut">
            <ion-item *ngFor="let p of accountPages; let i = index"
                      [routerDirection]="'root'" [routerLink]="[p.url]" [routerLinkActiveOptions]="{exact: true}"
                      lines="none" [detail]="false"
                      [routerLinkActive]="'selected'" [ariaCurrentWhenActive]="'page'" [button]="true">
              <ion-icon aria-hidden="true" [slot]="'start'" [ios]="p.icon + '-outline'"
                        [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ng-container>
          <ion-item-divider></ion-item-divider>
          <ng-template #loggedOut>
            <ion-item *ngFor="let p of loggedOutPages; let i = index"
                      routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                      routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}" [button]="true">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ng-template>

          <ion-item *ngFor="let p of appPages; let i = index"
                    routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                    routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}" [button]="true">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
