<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title i18n="page title">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <span i18n>Routes</span>
        @if (!(hasPersonalPlan$ | async)) {
          ({{ (routes$ | async)?.length }} / 1)
        }
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label i18n class="bold">Name</ion-label>
      <ion-label i18n class="bold">Country</ion-label>
      <ion-label i18n class="bold">First Station</ion-label>
      <ion-label i18n class="bold">Last Station</ion-label>
      <ion-label i18n class="bold ion-text-end"># Stations</ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let route of routes$ | async">
      <ion-item>
        <ion-label>{{ route.name }}</ion-label>
        <ion-label>{{ route.country.name }}</ion-label>
        <ion-label>{{ route.firstStation.name }}</ion-label>
        <ion-label>{{ route.lastStation.name }}</ion-label>
        <ion-label class="ion-text-end">{{ route.numberOfStations }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateRoute(route)" color="secondary" i18n>
          <ion-icon slot="start" [ios]="'pencil-outline'" [md]="'pencil-sharp'"></ion-icon>
          Update
        </ion-item-option>
        <ion-item-option (click)="deleteRoute(route)" color="danger" i18n>
          <ion-icon slot="start" [ios]="'trash-outline'" [md]="'trash-sharp'"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <span i18n>Timetables</span>
        @if (!(hasPersonalPlan$ | async)) {
          ({{ (timetables$ | async)?.length }} / 1)
        }
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label i18n class="bold">Name</ion-label>
      <ion-label i18n class="bold">Route</ion-label>
      <ion-label i18n class="bold">Date</ion-label>
      <ion-label i18n class="bold">State</ion-label>
      <ion-label i18n class="bold ion-text-end"># Services</ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let timetable of timetables$ | async">
      <ion-item>
        <ion-label>{{ timetable.name }}</ion-label>
        <ion-label>{{ timetable.routeName }}</ion-label>
        <ion-label>{{ timetable.date | date }}</ion-label>
        <ion-label>{{ TimetableStateTexts[timetable.state] }}</ion-label>
        <ion-label class="ion-text-end">{{ timetable.numberOfServices }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateTimetable(timetable)" color="secondary" i18n>
          <ion-icon slot="start" [ios]="'pencil-outline'" [md]="'pencil-sharp'"></ion-icon>
          Update
        </ion-item-option>
        <ion-item-option (click)="deleteTimetable(timetable)" color="danger" i18n>
          <ion-icon slot="start" [ios]="'trash-outline'" [md]="'trash-sharp'"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label i18n>Formations</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label i18n class="bold">Name</ion-label>
      <ion-label i18n class="bold">Formation</ion-label>
      <ion-label i18n class="bold ion-text-end">Length</ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let formation of formations$ | async">
      <ion-item>
        <ion-label>{{ formation.name }}</ion-label>
        <ion-label>{{ formation.formation }}</ion-label>
        <ion-label class="ion-text-end">{{ formation.length }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateFormation(formation)" color="secondary" i18n>
          <ion-icon slot="start" [ios]="'pencil-outline'" [md]="'pencil-sharp'"></ion-icon>
          Update
        </ion-item-option>
        <ion-item-option (click)="deleteFormation(formation)" color="danger" i18n>
          <ion-icon slot="start" [ios]="'trash-outline'" [md]="'trash-sharp'"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button i18n-aria-label aria-label="">
      <ion-icon [ios]="'add-outline'" [md]="'add-sharp'"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button i18n-aria-label aria-label="Add formation" [show]="true" (click)="addFormation()">
        <ion-icon [ios]="'train-outline'" [md]="'train-sharp'"></ion-icon>
      </ion-fab-button>
      @if ((timetables$ | async)?.length == 0 || (hasPersonalPlan$ | async)) {
        <ion-fab-button i18n-aria-label aria-label="Add timetable" [show]="true" (click)="addTimetable()">
          <ion-icon [ios]="'time-outline'" [md]="'time-sharp'"></ion-icon>
        </ion-fab-button>
      }
      @if ((routes$ | async)?.length == 0 || (hasPersonalPlan$ | async)) {
        <ion-fab-button i18n-aria-label aria-label="Add route" [show]="true" (click)="addRoute()">
          <ion-icon [ios]="'map-outline'" [md]="'map-sharp'"></ion-icon>
        </ion-fab-button>
      }
    </ion-fab-list>
  </ion-fab>
  <app-create-formation [isOpen]="isCreateFormationModalOpen"
                        (dismissed)="isCreateFormationModalOpen = false"></app-create-formation>
  <app-update-formation [isOpen]="isUpdateFormationModalOpen" [updatedFormation]="updatedFormation!"
                        (dismissed)="isUpdateFormationModalOpen = false"></app-update-formation>
  <app-create-route [isOpen]="isCreateRouteModalOpen" (dismissed)="isCreateRouteModalOpen = false"></app-create-route>
  <app-update-route [isOpen]="isUpdateRouteModalOpen" [updatedRoute]="updatedRoute"
                    (dismissed)="isUpdateRouteModalOpen = false"></app-update-route>
  <app-create-timetable [isOpen]="isCreateTimetableModalOpen"
                        (dismissed)="isCreateTimetableModalOpen = false"></app-create-timetable>
  <app-update-timetable [isOpen]="isUpdateTimetableModalOpen" [updatedTimetable]="updatedTimetable!"
                        (dismissed)="isUpdateTimetableModalOpen = false"></app-update-timetable>
</ion-content>
<ion-footer id="footer"></ion-footer>
