<ion-modal aria-labelledby="update-formation-title" [isOpen]="isOpen"
           (keyup.escape)="cancel()"
           backdrop-dismiss="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title id="update-formation-title" i18n>Update Formation</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form id="updateFormationForm" #updateFormation="ngForm" (ngSubmit)="confirm()">
        <ion-item>
          <ion-input
            i18n-label
            label="ID"
            labelPlacement="stacked"
            type="text"
            [required]="true"
            name="id"
            i18n-placeholder
            placeholder="unique-id"
            [readonly]="true"
            [(ngModel)]="formation.id"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            i18n-label
            label="Name"
            labelPlacement="stacked"
            type="text"
            name="name"
            [required]="true"
            i18n-placeholder
            placeholder="Name of the formation"
            [(ngModel)]="formation.name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-select
            i18n-label
            label="Train Sim World Formation"
            labelPlacement="stacked"
            i18n-placeholder
            placeholder="Name of the Train Sim World formation"
            name="trainSimWorldFormation"
            interface="popover"
            [compareWith]="compareWith"
            [(ngModel)]="formation.trainSimWorldFormation"
          >
            <ion-select-option *ngFor="let formation of formations$ | async"
                               [value]="formation">
              {{ formation.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input
            i18n-label
            label="Formation"
            labelPlacement="stacked"
            type="text"
            name="formation"
            inputmode="text"
            [required]="true"
            i18n-placeholder
            placeholder="PH, 5x2., R., 1x1., Cab 1."
            [(ngModel)]="formation.formation"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            i18n-label
            label="Length"
            labelPlacement="stacked"
            type="number"
            name="length"
            min="1"
            inputmode="numeric"
            [required]="true"
            i18n-placeholder
            placeholder="Number of coaches (including power heads, locomotives)"
            [(ngModel)]="formation.length"
          ></ion-input>
        </ion-item>
      </form>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()" i18n>Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button form="updateFormationForm" type="submit" [strong]="true" i18n
                      [disabled]="!updateFormation.form.valid">Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
